
1. Select
<div class="w-100 pt-2">
  <mat-form-field class="w-100">
    <mat-label>Favorite animal</mat-label>
    <mat-select [compareWith]="compareObjects" [formControl]="normalSelect" required>
      <mat-option>--Chọn--</mat-option>
      <mat-option *ngFor="let animal of animals" [value]="animal">
        {{animal.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="normalSelect?.hasError('required')">Trường này là bắt buộc</mat-error>
    <mat-hint>{{normalSelect.value?.sound}}</mat-hint>
    <button *ngIf="normalSelect.value" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteAll($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div *ngIf="normalSelect.value">{{ 'You have choosen ' + (normalSelect.value | json) }}</div>

<div class="mt-3">2. Multiple select</div>
<div class="w-100">
  <mat-form-field class="w-100">
    <mat-label>Multiple Favorite animal</mat-label>
    <mat-select [compareWith]="compareObjects" [formControl]="multipleSelect" multiple>
      <mat-select-trigger>
        <mat-card *ngFor="let item of multipleSelect.value; let i = index" class="select-item">
          {{ item?.name}}
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem(multipleSelect.value, i)" >
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
      </mat-select-trigger>
      <mat-option *ngFor="let item of animals" [value]="item">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="multipleSelect.value">{{ 'You have choosen ' + (multipleSelect.value | json) }}</div>

<div class="mt-3">3. Select && search</div>
<mat-form-field class="w-100">
  <mat-select placeholder="Select && search" [compareWith]="compareObjects" [formControl]="searchSelect">
    <mat-select-trigger>
      {{searchSelect?.value?.name}}
    </mat-select-trigger>
    <div class="select-container">
      <mat-optgroup>
        <mat-form-field style="width:100%;">
          <input #search autocomplete="off" placeholder="Tìm kiếm" aria-label="Tìm kiếm" matInput
            [formControl]="searchBoxSelect">
          <button [disableRipple]="true" *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearSearch($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-optgroup>
      <mat-optgroup *ngIf="(dataSearch | async).length == 0">
        <div>Không có dữ liệu</div>
      </mat-optgroup>
      <mat-option *ngFor="let option of dataSearch | async"
        [value]="option">
        {{option.name}}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
<div *ngIf="searchSelect.value">{{ 'You have choosen ' + (searchSelect.value | json) }}</div>

<div class="mt-3">4. Multiple select && search</div>
<mat-form-field class="w-100">
  <mat-select (openedChange)="openedChangeMultiple($event)" [compareWith]="compareObjects" placeholder="Multiple select && search"
    [formControl]="searchMultipleSelect" multiple>
    <mat-select-trigger>
      {{searchMultipleSelect.value && searchMultipleSelect.value.length ? searchMultipleSelect.value[0].name : ''}}
      <span *ngIf="searchMultipleSelect.value?.length > 1" class="additional-selection">
        (+{{searchMultipleSelect.value.length - 1}} {{searchMultipleSelect.value?.length === 2 ? 'khác' : 'khác'}})
      </span>
    </mat-select-trigger>
    <div class="select-container">
      <mat-optgroup>
        <mat-form-field style="width:100%;">
          <input #search autocomplete="off" placeholder="Tìm kiếm" aria-label="Tìm kiếm" matInput
            [formControl]="searchBoxMultipleSelect">
          <button [disableRipple]="true" *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearSearchMultiple($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-optgroup>
      <mat-optgroup *ngIf="(dataSearchMultipleSelect | async).length == 0">
        <div>Không có dữ liệu</div>
      </mat-optgroup>
      <mat-option (onSelectionChange)="selectionMultipleChange($event)"
        *ngFor="let option of dataSearchMultipleSelect | async" [value]="option">
        {{option.name}}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
<div *ngIf="searchMultipleSelect.value">{{ 'You have choosen ' + (searchMultipleSelect.value | json) }}</div>



